html {
  font-size: 100%;
  overflow-y: scroll;
}
body { margin: 0; font-size: 14px; line-height: 1.61; font-weight: 400; font-family: 'Open Sans', sans-serif; }
body, button, input, select, textarea { font-family: 'Open Sans', sans-serif; color: #333; }

a { color: #12C; }
a:hover { color: #c00; }

ul, ol { margin: 1em 0; padding: 0 0 0 20px; }
img { max-width: 100%; }

header, footer, .container { max-width: 45em; margin: 0 auto; }

header { padding: 0 0.5em; color: #C90B0B; }
header img { border-radius: 40px; float: left; }
header p { font-size:1.5em; padding-left: 4em;}
span { font-size: 0.8em; }

.hero { padding: 2em; background-color: #f8f8f8; font-size:1.2em;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
}

.content { padding: 1em 1em; }
ul { list-style-type: none; font-size: 1.1em; }
ul img { float:left; padding-right: 1em; }
ul p { font-size: 0.9em; font-style: italic; }

footer {
  padding: 0 0.5em;
  border-top: 1px solid #ccc;
}
footer span { float: right; font-style: italic; }
