body {
  font-size: 100%;
  overflow-y: scroll;
  font-family: Serif, Sans-serif;
  margin: 0;
  font-size: 14px;
  line-height: 1.61;
  font-weight: 400;
  color: #333;
}

button, input, select, textarea { color: #333; }

a { color: #12C; }
a:hover { color: #c00; }

ul, ol { margin: 1em 0; padding: 0 0 0 20px; }
/img { max-width: 100%; }

header, footer, .container { max-width: 45em; margin: 0 auto; }

header { padding: 0 0.5em; color: #C90B0B; }
.headerImage { border-radius: 40px; float: left; }
.headerP { font-size:1.5em; padding-left: 4em;}
span { font-size: 0.8em; }

.hero { padding: 2em; background-color: #f8f8f8; font-size:1.2em;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
}

.content { padding: 1em 1em; }
ul { list-style-type: none; font-size: 1.1em; }
.ulImage { float:left; padding-right: 1em; }
.ulP { font-size: 0.9em; font-style: italic; }

footer {
  padding: 0 0.5em;
  border-top: 1px solid #ccc;
}

#crp-stats { float: right; font-style: italic; }

@media print {
  * { background: transparent; color: black; }
  img { page-break-inside: avoid; max-width: 100% ;}
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3{ page-break-after: avoid; }
}
